@import url("https://fonts.googleapis.com/css?family=Lobster");

.App {
  text-align: center;
}

.Heading {
  font-size: 5rem;
  font-family: "Lobster", cursive;
}
.BlackBar {
  width: 100%;
  height: 0.5rem;
  background-color: black;
}

.TickBox1 {
  outline: 2px solid grey;
}

.RefreshButton > img {
  width: 3rem;
  height: 3rem;
}
