@import url('https://fonts.googleapis.com/css?family=Lobster');

.App {
  text-align: center;
}

.Heading{
  font-size: 5rem;
  font-family: 'Lobster', cursive;
}
.BlackBar{
  width: 100vw;
  height: 0.5rem;
  background-color: black;
}

.RefreshButton{
  height: 2rem;
  width: 2rem;
}

/* .Photogrid{
  display:flex;
  justify-content: center;
  align-items: center;
} */

.TickBox1{
  outline: 2px solid grey;
}
