.react-grid-layout {
    position: relative;
    transition: height 200ms ease;
  }
  .react-grid-item {
    transition: all 200ms ease;
    transition-property: left, top;
  }
  .react-grid-item.cssTransforms {
    transition-property: transform;
  }
  .react-grid-item:not(.react-grid-placeholder) {
    background-image: url(../public/huge.jpg);
    background-repeat: no-repeat;
  }